* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    background: url(assets/img/candy-crush-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.grid {
    height: 560px;
    width: 560px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 70px;
    width: 70px;
}